distribute
gdal
matplotlib>=1.4.2
markdown
xlrd
git+https://github.com/pyinstaller/pyinstaller.git@v3.2.1
git+https://github.com/phargogh/paver@natcap-version
natcap.versioner>=0.4.2
pygeoprocessing==0.3.0a22
natcap.invest==3.3.2
