distribute
gdal
matplotlib>=1.4.2
markdown
xlrd
git+https://github.com/pyinstaller/pyinstaller.git@3.0
git+https://github.com/phargogh/paver@natcap-version
natcap.versioner>=0.4.2
pygeoprocessing>=0.3.0a17