distribute
gdal
matplotlib>=1.4.2
markdown
xlrd
git+https://github.com/pyinstaller/pyinstaller.git@v3.1.1
git+https://github.com/phargogh/paver@natcap-version
hg+https://bitbucket.org/jdouglass/versioner@0.2.4#egg=natcap.versioner
